<nz-layout>
    <section class="parent">

        <div class="background">
            <img src="https://wallpapercosmos.com/w/full/4/b/7/183875-3840x2160-desktop-4k-bts-background-image.jpg"
                width="300">
        </div>

        <div class="overlay"></div>
        <div style="padding: 20px">titulo!</div>
        <div style="padding: 20px">boton!</div>
        <div style="padding: 20px">cards!</div>
        <div style="padding: 20px">tabs!</div>
    </section>
    <section style="background-color: red">
        <p>contenido</p>
    </section>
    <nz-content>
        <router-outlet></router-outlet>
    </nz-content>
</nz-layout>