.parent {
  position: relative;
  color: white;
  font-family: "Roboto Mono";
  &__content {
    position: relative;
    z-index: 1;
  }

  .custom-header {
    padding: 0px;
    ::ng-deep .ant-page-header-back-button {
      color: white !important;
      font-size: 20px;
    }
  }

  .row-container {
    padding: 40px;
  }
  .last-row-container {
    padding: 40px;
    padding-bottom: 0px;
    ::ng-deep .ant-tabs-nav {
      margin: 0px;
    }
  }
  .row-btn {
    padding-top: 0px;
    .btn {
      width: 100%;
      padding: 30px;
      text-align: left;
      background: #d9d9d9;
      border-radius: 3px;
      color: #444444;
      display: flex;
      align-items: center;
    }
    .btn:hover, .btn:focus {
      border-color: #444444;
      background-color: #444444;
      color: white;
      box-shadow: 'none';
    }
  }
  h1,
  h5 {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  h1 {
    font-size: 48px;
    font-weight: 700;
  }
  h5 {
    font-size: 16px;
    font-weight: 900;
  }
}

.overlay {
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

::ng-deep .ant-tabs-nav {
  .ant-tabs-ink-bar {
    background: white !important;
  }
  a {
    color: white;
    font-size: 20px;
  }
  &:before {
    border: none !important;
  }
}

.btn-custom {
  border: none;
  box-shadow: none;
  background-color: red;
}